.home{
    float: left;
    height: 100%;
}
.add{
    padding-top: 5px;
    padding-left: 15px;
    display: block;
    float: right;
}
.controls{
    background-color: #dec8a37a;
    text-align: left;
    height: 50px;
}
.library{
    margin-top: 20%;
    border-radius:10px;
    background-color: #fffcf7eb;

}