@import "@material/button/mixins";

@import "@material/react-floating-label/index.scss";
@import "@material/react-line-ripple/index.scss";
@import "@material/react-notched-outline/index.scss";
@import "@material/react-text-field/index.scss";


.button-primary {
  @include mdc-button-container-fill-color(white);
  border-radius: 1px;
}

.mdc-text-field {
  width: 90%;
}

.mdc-text-field__input {
  @include mdc-typography(headline6);
  padding: 25px 0px 5px;
}
.mdc-floating-label{
  font-size: 1.0em;
  margin-top: 24px;
  margin-bottom: 12px;
}
.logo{

}
.third{
  width: 30%;
  margin: 3%;
  display: inline;
}
.right{
  float:right;
}
